@page
@model e_tuition2021.Pages.Tutors.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Tutor</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Tutor.DbsCheck" class="control-label"></label>
                <input asp-for="Tutor.DbsCheck" class="form-control" />
                <span asp-validation-for="Tutor.DbsCheck" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Degree" class="control-label"></label>
                <input asp-for="Tutor.Degree" class="form-control" />
                <span asp-validation-for="Tutor.Degree" class="text-danger"></span>
            </div>
            <div class="form-group form-check">
                <label class="form-check-label">
                    <input class="form-check-input" asp-for="Tutor.PGCE" /> @Html.DisplayNameFor(model => model.Tutor.PGCE)
                </label>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.ImageURL" class="control-label"></label>
                <input asp-for="Tutor.ImageURL" class="form-control" />
                <span asp-validation-for="Tutor.ImageURL" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Bio" class="control-label"></label>
                <textarea asp-for="Tutor.Bio" class="form-control"></textarea>
                <span asp-validation-for="Tutor.Bio" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.Cost" class="control-label"></label>
                <input asp-for="Tutor.Cost" class="form-control" />
                <span asp-validation-for="Tutor.Cost" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.FirstName" class="control-label"></label>
                <input asp-for="Tutor.FirstName" class="form-control" />
                <span asp-validation-for="Tutor.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.LastName" class="control-label"></label>
                <input asp-for="Tutor.LastName" class="form-control" />
                <span asp-validation-for="Tutor.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.MobileNumber" class="control-label"></label>
                <input asp-for="Tutor.MobileNumber" class="form-control" />
                <span asp-validation-for="Tutor.MobileNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.AddressId" class="control-label"></label>
                <select asp-for="Tutor.AddressId" class ="form-control" asp-items="ViewBag.AddressId"></select>
            </div>
            <div class="form-group">
                <label asp-for="Tutor.PaymentCardId" class="control-label"></label>
                <select asp-for="Tutor.PaymentCardId" class ="form-control" asp-items="ViewBag.PaymentCardId"></select>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
