@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="has-bg-image">
<img src="~/images/E-tuition Logo.jpg"
     class="bg-image"
     style="width:200px"
     alt="Logo" />
</div>

<div class="text-center">
    <h1 class="display-4">Welcome To E-Tuition</h1>
</div>
