@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="has-bg-image">
    <img src="~/images/E-tuition Logo.jpg"
         class="bg-image float-right"
         style="width:200px"
         alt="Logo" />
</div>

<div class="text-center">
    <h1 class="display-9">
        Welcome to E-Tuition
    </h1>
</div>
<div class="text-center">
    <h2> "Do not student to earn, study to learn. Today is what you become tomorrow" </h2>
</div>
<div class="text-center">
    <p>
        Welcome to E-Tuition start off your child to a great start to their life. With our platform we offer
        a range of different subjects from Key Stage 1 till Key Stage 3. Due to the current pandemic we are
        offering online video calls with our qualified teachers,  which can be accessed from the comfort of your own home.
    </p>
</div>

<table class="text-center" style="width:100%">

    <tr>
        <td>
            <img src="~/images/Topic - exam.png"
                 class= "text-center"
                 style="width:200px"
                 alt="exam" />
        </td>

        <td>
            <img src="~/images/Topic - NEW.jpg"
                 class="text-center"
                 style="width:200px"
                 alt="topic" />
        </td>

        <td>
            <img src="~/images/Video - NEW.jpg"
                 class="text-center"
                 style="width:200px"
                 alt="Logo" />
        </td>
    </tr>
    <tr>
        <td>
            Exam Prep & Practise
        </td>

        <td>
            Understand A Topic
        </td>

        <td>
            Online Call Sessions
        </td>
    </tr>

    <tr>
        <td style="width: 30%">
            Our qualified tutors will help their
            students be ready for their exams
            and test them in the areas they need
            most help.
        </td>

        <td style="width: 30%">
            Our Tutors will help all the students
            from the beginning till the end to ensure
            they understand everything. 
        </td>

        <td style="width: 30%">
            Due to COVID-19 our tutors will be 
            operating online and doing their lessons 
            over video to ensure your student recieves 
            the work he needs. 
        </td>
    </tr>

</table>