@page
@model PrivacyModel
@{
    ViewData["Title"] = "About E-Tuition";
}

<div class="has-bg-image">
    <img src="~/images/E-tuition Logo.jpg"
         class="bg-image float-right"
         style="width:200px"
         alt="Logo" />
</div>

<table class="text-center" style="background-color:azure">
    <tr>
        <th style="font-weight: bold">
            Our Mission
        </th>

        <th style="font-weight: bold">
            Our Goal
        </th>
    </tr>
    <tr>
        <td style="width: 30%">
            Our Mission is to bring high quality online-tutoring 
            services to the comfort of your own home, using the 
            modern day technology we are expanding throughout the
            nation.
        </td>

        <td style="width: 30%">
            Our Goal is to make affordable, safe and convenient 
            tutoring which will be simple and fun for your child
            to learn and boost their knowledge. 
        </td>
    </tr>
</table>

<div>
<h1 class="text-center">
    Meet Our Trusted Tutors
</h1>

    <table class="text-center" style="background-color:lightseagreen">
        <tr>
            <th>
                Meet Nada
            </th>
            <th>
                Meet Milada
            </th>
        </tr>
        <tr>
            <td style="width: 50%">
                Nada is a qualified teacher which has a degree in 
                PHD in physics. Nada has been with us for almost a year now, 
                teaching kids across the nation and ensuring they recieve quality
                knowledge. She graduated in New Buckinghamshire University and did
                a post graduate job in a high school, did that for two years and then 
                she joined our team and hasn't looked back since. Nada quoted "Working 
                with different children around the nation brings joy to me as I love building
                a bond with all students."
            </td>

            <td style="width: 50%">
                Milada was the first tutor we had since we created E-Tuition,
                coming to 3 years in a couple of months. Milada is a qualified has a Bsc
                (Hons) Chemistry. Milada is the head of Chemistry at E-Tuition and ensures the
                criteria and curriculum is upto date and efficient. Milada graduated at University
                of Bedfordshire and after her graduation she got into a job working in a lab in 
                London. Milada quoted "I love talking to all the students and parents to ensure them
                they are recieving the efficient and quality education."
            </td>

        </tr>
    </table>
</div>
