@page
@model PrivacyModel
@{
    ViewData["Title"] = "About E-Tuition";
}

<div class="has-bg-image">
    <img src="~/images/E-tuition Logo.jpg"
         class="bg-image float-right"
         style="width:200px"
         alt="Logo" />
</div>

<table class="text-center" style="background-color:azure">
    <tr>
        <th style="font-weight: bold">
            Our Mission
        </th>

        <th style="font-weight: bold">
            Our Goal
        </th>
    </tr>
    <tr>
        <td style="width: 30%">
            Our Mission is to bring high quality online-tutoring 
            services to the comfort of your own home, using the 
            modern day technology we are expanding throughout the
            nation.
        </td>

        <td style="width: 30%">
            Our Goal is to make affordable, safe and convenient 
            tutoring which will be simple and fun for your child
            to learn and boost their knowledge. 
        </td>
    </tr>
</table>

<div>
<h1 class="text-center">
    Meet Our Trusted Tutors
</h1>

    <table class="text-center">
        <tr>
            <td>


            </td>

            <td>


            </td>

            <td>


            </td>

        </tr>
    </table>
</div>
