@page
@model e_tuition2021.Pages.TutorSignInModel
@{
    ViewData["Title"] = "Tutor account";
}

<!--Tutor Sign Up-->

<div class="text-center">
    <h1 class="display-4">@Model.Message</h1>
    
<form method="post" class="mx-auto" style="width:200px">
    <h2>Tutor Create an account</h2>
        <p class="col-sm-2">
            <label>First Name</label>
            <input type="text" asp-for="Tutor.FirstName" required="true" placeholder="Enter your first name" />
        </p>

         <div class="col-sm-2">
            <label>Last Name</label>
            <input type="text" asp-for="Tutor.LastName" required="true" placeholder="Enter your last name" />
        </div>

        <p class="col-sm-2">
            <label>Email</label>
            <input type="email" name="Email" required="true" placeholder="Enter your email address" />
        </p>

         <p class="col-sm-2">
            <label>Mobile number</label>
            <input type="number" asp-for="Tutor.MobileNumber" required="true" placeholder="Enter your mobile number" />
        </p>

         <p class="col-sm-2">
            <label>DBS check</label>
            <input type="date" asp-for="Tutor.DbsCheck" required="true" placeholder="Upload DBS here"/>
        </p>

         <p class="col-sm-2">
            <label>Degree</label>
            <input type="submit" asp-for="Tutor.Degree" required="true" placeholder="Upload your degree(s) here"/>
        </p>

         <p class="col-sm-2">
            <label>PGCE</label>
            <input type="checkbox" asp-for="Tutor.PGCE" required="true" placeholder="Check your PGCE"/>
        </p>

         <p class="col-sm-2">
            <label>Image</label>
            <input type="image" asp-for="Tutor.ImageURL" required="true" placeholder="Upload an image of yourself here"/>
        </p>

         <p class="col-sm-2">
            <label>Bio</label>
            <input type="text" asp-for="Tutor.Bio" required="true" placeholder="Upload your degree(s) here"/>
        </p>

         <p class="nav-item">
            <label>Cost per hour</label>
            <input type="number" asp-for="Tutor.Cost" required="true" placeholder="Enter your cost per hour here"/>
        </p>

        <p class="col-sm-2">
            <button type="submit" class="btn-btn-primary">
                Register
            </button>
        </p>
    </form>
</div>

<p class="col-sm-12">
    @ViewData["Message"]
</p>
