@page
@using e_tuition2021.Models
@model e_tuition2021.Pages.TutorSignInModel
@{
      ViewData["Title"] = "Tutor account";
}

<!--Tutor Sign In-->

<div class="text-center">
    <h1 class="display-4">@Model.Message</h1>
    
<form method="post" class="mx-auto" style="width:auto">
    <h2 style="text-align:left">Tutor Login</h2>
     <div class="form-group">
        <p style="text-align:center">
            <label for="firstName">First Name</label>
            <input type="text" class="form-control" id="firstName" asp-for="Tutor.FirstName" required="true" placeholder="Enter your first name" />
        </p>
     </div>

        <p style="text-align:center">
            <label>Last name</label>
            <input type="text" asp-for="Tutor.LastName" required="true" placeholder="Enter your last name" />
        </p>

        <p style="text-align:center">
            <label>Email</label>
            <input type="email" name="Email" required="true" placeholder="Enter your email address" />
        </p>

        <p style="text-align:center">
           <button type="submit" class="btn btn-light btn-sm">
                Login
            </button>
        </p>
    </form>
</div>

<p class="col-sm-12">
    @ViewData["Message"]
</p>
